* {
    text-decoration: none;
    font-family: Helvetica;
}

:root {
    --fg: #333;
    --bg: #f0f0f0;
}


body {
    overflow-y: scroll;
    font-weight: lighter;
    margin: 0;
    padding: 0;

    background: var(--bg);
    color: var(--fg);
    /* line-height: 1.6; */
}

.main {
    /* margin-left: 10%;
    margin-right: 10%; */
    /* font-size: 150%; */
    width: 70%;
    margin: auto;
}

.navbar li {
    list-style: none;
    display: inline-block;
}

.navbar li a {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-right: 15px;
    text-decoration: none;
    transition: text-decoration-color 300ms;
}

.navbar li a:hover {
    text-decoration: underline 0.2em;
}

.logo a {
    text-decoration: none;
}

.logo a:hover {
    text-decoration: underline 0.2em;
}

@media screen and (prefers-color-scheme: dark) {
    
}

button {
    background-color: inherit;
    scale: 1.5;
    border-radius: 50%;
    font-size: 15px;
}


.navbar {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;

    background-color: var(--fg);
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    
.logo a {
    margin-top: 5px;
    font-size: 35px;
    font-weight: 600;
}

.logo img {
    height: 40px;
    border: 2px solid;
    border-radius: 50%;
    margin: 5px;
    margin-right: 10px;
}


hr {
    border-top: 0px;
    border-left: 0px;
}

footer {
    /* text-align: center; */
    background: var(--fg);
    color: var(--bg);
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* this is new */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

/* this is new */
section {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.shadowed {
    box-shadow:0 0 1em #333f;
}

.rounded-container {
    background-color: lightgray;
    border-radius: 10px;
    margin: 5%;
    padding: 0;
}

.container-content {
    padding-left: 2%;
    padding-right: 2%;
}

.theme-toggle {
    border-radius: 100%; 
    aspect-ratio: 1;
}