* {
    text-decoration: none;
    font-family: system-ui;
}

:root {
    --fg: #333;
    --bg: #f0f0f0;

    --primary: rgb(56, 114, 186);
    --accent: rgb(125, 55, 186);
}

hr {
    border-top: 0px;
    border-left: 0px;
}

h1, h2, h3, .nudge-up {
    transform: translateY(-10px);
}

.force-up {
    margin-top: -10px;
}

body {
    /* force scrollbar to always render for consistency */
    overflow-y: scroll;

    font-weight: lighter;
    margin: 0;
    padding: 0;

    /* TODO: figure out how to load images properly here */
    /* background-image: url("C:/Users/linkc/WebstormProjects/connorjlink.github.io/res/logo.jpg"); */
    /* backdrop-filter: blur(100vw); */
    background-color: var(--bg);
    color: var(--fg);
}

.main {
    width: 70%;
    margin: auto;
}

/* TODO: this is probably not necessary for anything */
@media screen and (prefers-color-scheme: dark) {
    
}

header {
    background: var(--fg);
    color: var(--bg);

    text-align: center;
    align-items: center;
    padding: 20px;

    /* TODO: make the "Connor J. Link" nav button not as wide as the whole screen. Desire to only be able to click on the text itself to navigate back" */

    display: flex;
    flex-direction: row;

    min-height: 100px;

    nav {
        width: 100%;

        a {
            text-decoration: underline 0.15em #0000;
            transition: text-decoration-color 250ms;
        }
    
        a:hover {
            text-decoration-color: inherit;
        }
    
        ul {
            margin: 0;
            padding: 0;
    
            list-style: none;
            display: inline;
    
            li {
                display: inline;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    
        img {
            border-radius: 100%; 
            aspect-ratio: 1;
        }
    }
}

footer {
    /* text-align: center; */
    background: var(--fg);
    color: var(--bg);
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* this is new */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
}

/* this is new */
section {
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.shadowed {
    box-shadow:0 0 1em #000a;
}

.logo {
    justify-content: flex-start;
    aspect-ratio: 1;

    img {
        border: 2px solid;
        border-radius: 50%;
        margin: 5px;
        margin-right: 10px;
    }
}

.theme-toggle {
    justify-content: flex-end;
}

.vstack {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.title {
    font-size: 30pt;
    align-items: center;
    margin-top: -10px;
    margin-bottom: 10px;
    line-height: 1;
}

.subitem {
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
    /* left-aligned text for some things?? */
}


/* TODO: figure out if there is a decent way of darkening children programatically easily in JS */
.darken-98 {
    background-color: color-mix(in srgb, var(--bg) 98%, black);
}

.darken-95 {
    background-color: color-mix(in srgb, var(--bg) 95%, black);
}


/* For use by double-column lists */
.left-list {
    text-align: right;
}

.right-list {
    text-align: left;
}