img {
    margin: calc(5px - calc(var(--outline-thickness) / 2));
}

.airshow {
    img {
        width: calc(20% - 8px);
    }
}

.gallery {

    img {
        max-width: 40%;
    }
}

.gear {
    display: flex;
    flex-direction: row;
    
    ul {
        margin: 0;
        margin-top: -2%;
        padding: 0;
        display: inline-block;

        li {
            margin: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
