img {
    max-width: 40%;
}

.airshow img {
    width: calc(20% - 2.25px);
}

.gallery {
    text-align: center;
}

.gear ul {
    list-style-type: none;
    margin: 0;
    margin-top: -2%;
    padding: 0;
    display: inline-block;
}

.gear li {
    display: flex;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
