.components {
    margin-top: -1em;
    padding-left: 0;

    li {
        margin-bottom: 10px;
    }
}

.titanium-images {
    display: flex;
    justify-content: center;

    figure {
        margin: 5px;

        img {
            max-width: min(80%, 30vw);
        }
    }
}

.rendering p {
    margin-top: -0.8em;
}

.info {
    transform: translateY(-1em);
}
