* {
    --my-background-d: rgb(30, 30, 30);
    --my-background: rgb(40, 40, 40);
    --my-background-l: rgb(69, 69, 69);

    --my-foreground-d: rgb(210, 210, 210);
    --my-foreground: rgb(230, 230, 230);
    --my-foreground-l: rgb(250, 250, 250);

    --my-accent-purple-d: rgb(123, 112, 211);
    --my-accent-purple: rgb(143, 132, 231);
    --my-accent-purple-l: rgb(163, 152, 251);

    --my-accent-blue-d: rgb(83, 134, 189);
    --my-accent-blue: rgb(103, 154, 209);
    --my-accent-blue-l: rgb(123,174, 229);
}