.main ul {
    margin-top: -1em;
}

.main p {
    margin-top: -1em;
    margin-bottom: 2em;
}

img {
    max-width: 20%;
}

.gridwrapper {
    display: grid;
    margin-top: -2em;
    margin-bottom: 0;
}

.one {
    grid-column: 1;
    grid-row: 1;
}

.two {
    grid-column: 2;
    grid-row: 1;
}

.three {
    grid-column: 3;
    grid-row: 1;
}

.four {
    grid-column: 1;
    grid-row: 2;
}

.five {
    grid-column: 2;
    grid-row: 2;
}

.six {
    grid-column: 3;
    grid-row: 2;
}